# ignore output from bowtie
*/__pycache__/
*/dev/
runs/
ref/
figures/
basecalled_fastq/
basecalled*/
demo/*.py
debug/
*.log
*.bam
*.sam
*.paf
*.index*
*.mmi
*.bt2
*.msa_out
*.spoa_out
*/frags/
*/msa/
*.phred
*.csv.gz
*.csv
.ipynb_checkpoints
*.pdf
