# ignore output from bowtie
*/__pycache__/
*/MISC/
runs/
ref/
basecalled_fastq/
basecalled*/
*.log
*.bam
*.sam
*.paf
*.index*
*.mmi
*.bt2
*.fasta
*.fastq
*.fa
*.fq
*.msa_out
*.spoa_out
*/frags/
*/msa/
*.phred
*.csv.gz
*.csv
.ipynb_checkpoints
*.pdf
